<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Landing Page - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/static/css/landing-page.css" rel="stylesheet">

  </head>

  <body>

  <div id="root">
    <!-- Navigation -->
    <nav class="navbar navbar-light static-top mb-3">
      <div class="container">
        <a class="navbar-brand" href="#">Product Search</a>
        <a class="navbar-brand" href="#">Sign In</a>
      </div>
    </nav>

    <section class="mb-3">
      <div class="container container-styled p-3 bg-orange">
        <div class="row">
          <div class="col-md-10">
            <div class="pull-left mr-3"><img src="/static/img/price-tag.svg" width="50"></div>
            <h6 class="text-yellow  mb-1">Find Best Prices at Online Stores.</h6>
            <div class="pb-2 text-white">Compare prices from all major online stores in Nigeria. including Jumia, Jiji, Konga, Slot, Kara </div>
          </div>
          <div class="col-md-2 text-center">
            <a class="mt-2 btn btn-h-black white transparent text-white border-yellow" href="#">Learn More <span class="fa fa-arrow-right"></span></a>
        </div>
      </div>
    </section>

    <!-- Masthead -->
    <section class="home-main-item mb-3">
      <div class="container p-3 bg-white">
      <h5 class="mb-3">Search products</h5>
        <div class="row">
          <div class="col-md-9 col-lg-8 col-xl-7 mx-auto">
            <form>
              <div class="form-row justify-content-center mb-3">
                  <input type="email" class="form-control form-control-lg form-border" placeholder="Product Name">
              </div>
              <div class="form-row justify-content-center">
                  <button type="submit" class="btn btn-block btn-lg border-yellow btn-grey">Search</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <section class="home-main-item mb-3">
      <div class="container p-3 bg-white">
      <h5 class="mb-3">Search results</h5>
        <div class="row">
          <div class="col-lg-3 col-md-3 mb-3">
            <div class="card card-border-color jumia">
                <div class="card-body">
                  <div class="row">
                  <div class="col-5">
                    <div class="align-middle mtb-auto"><a href=""><img class="img-fluid" src="/static/img/testimonials-1.jpg" style="width:120px;"></a></div>
                  </div>
                  <div class="col-7">
                    <p> Quisque gravida aliquam diam at cursus, quisque laoreet ac lectus a rhoncusac tempus odio. </p>
                  </div>
                </div>
                </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 mb-3">
            <div class="card card-border-color konga">
                <div class="card-body">
                  <div class="row">
                  <div class="col-5">
                    <div class="align-middle mtb-auto"><a href=""><img class="img-fluid" src="/static/img/testimonials-1.jpg" style="width:120px;"></a></div>
                  </div>
                  <div class="col-7">
                    <p> Quisque gravida aliquam diam at cursus, quisque laoreet ac lectus a rhoncusac tempus odio. </p>
                  </div>
                </div>
                </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 mb-3">
            <div class="card card-border-color kara">
                <div class="card-body">
                  <div class="row">
                  <div class="col-5">
                    <div class="align-middle mtb-auto"><a href=""><img class="img-fluid" src="/static/img/testimonials-1.jpg" style="width:120px;"></a></div>
                  </div>
                  <div class="col-7">
                    <p> Quisque gravida aliquam diam at cursus, quisque laoreet ac lectus a rhoncusac tempus odio. </p>
                  </div>
                </div>
                </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 mb-3">
            <div class="card card-border-color slot">
                <div class="card-body">
                  <div class="row">
                  <div class="col-5">
                    <div class="align-middle mtb-auto"><a href=""><img class="img-fluid" src="/static/img/testimonials-1.jpg" style="width:120px;"></a></div>
                  </div>
                  <div class="col-7">
                    <p> Quisque gravida aliquam diam at cursus, quisque laoreet ac lectus a rhoncusac tempus odio. </p>
                  </div>
                </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Call to Action -->
    <section class="call-to-action text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h2 class="mb-4">Ready to get started? Sign up now!</h2>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form>
              <div class="form-row">
                <div class="col-12 col-md-9 mb-2 mb-md-0">
                  <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
                </div>
                <div class="col-12 col-md-3">
                  <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="#">About</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Contact</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2018. All Rights Reserved.</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fab fa-facebook fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-instagram fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

  </div>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js">
    </script>
    <script src="/static/js/main.js">
    </script>

  </body>

</html>
